@use "@coreui/coreui/scss/mixins/color-mode" as *;

.app-button {
  background-color: var(--app-primary) !important;
  border-color: var(--app-primary) !important;
  color: var(--app-white) !important;

  &:hover {
    background-color: var(--app-primary-dark) !important;
    border-color: var(--app-primary-dark) !important;
  }
}

.form-select:focus,
.form-control:focus {
  box-shadow: 0 0 0 0 var(--cui-tertiary-bg);
  border-color: var(--cui-tertiary-bg);
}

.app-container {
  background-color: var(--app-bg) !important;
}

.btn-outline-success {
  z-index: 2;
}

.alert-warning-gray {
  background-color: var(--app-dark-gray) !important;
  color: var(--app-text) !important;
  border: 1px var(--app-gray) !important;

  &>* {
    background-color: var(--app-dark-gray) !important;
    color: var(--app-text) !important;
  }
}

.btn {
  &:hover {
    color: var(--app-white) !important;
  }
}