@use "@coreui/coreui/scss/mixins/color-mode" as *;

.app-button {
  background-color: var(--app-primary) !important;
  border-color: var(--app-primary) !important;
  color: var(--app-white) !important;

  &:hover {
    background-color: var(--app-primary-dark) !important;
    border-color: var(--app-primary-dark) !important;
  }
}

.app-container {
  background-color: var(--app-bg) !important;
}

.app-header {
  background-color: var(--app-primary) !important;

  &>* {
    color: var(--app-bg) !important;

    &>* {
      color: var(--app-bg) !important;

      &>* {
        color: var(--app-bg) !important;
      }
    }
  }
}

.app-sidebar {
  background-color: var(--app-gray) !important;
}


.sidebar-nav .nav-link:hover .sidebar-icon,
.sidebar-nav .nav-link.active .sidebar-icon {
  filter: brightness(0) invert(1);
}

.sidebar {

  .sidebar-icon {
    filter: invert(63%) sepia(61%) saturate(2875%) hue-rotate(314deg) brightness(102%) contrast(101%);
  }

  .sidebar-component,
  .nav-link {
    color: var(--app-primary) !important;

    &:focus-visible {
      outline: none;
      box-shadow: none;
    }

    &:active {
      background-color: transparent !important;
    }

    svg {
      color: var(--app-primary) !important;
    }

    &:hover {
      background-color: var(--app-primary) !important;
      color: var(--app-bg) !important;

      svg {
        color: var(--app-bg) !important;
      }

      &:after {
        background-color: var(--app-bg) !important;
      }
    }
  }

  .sidebar-component {
    .nav-icon {
      opacity: 0;
    }

    &:hover {
      .nav-icon {
        opacity: 0;
      }
    }
  }

  .nav-group-toggle {
    font-weight: bold !important;

    &:after {
      background-color: var(--app-primary) !important;
    }
  }
}

@include color-mode(dark) {
  .sidebar-nav {
    .nav-link:hover {
      .sidebar-icon {
        filter: brightness(0) !important;
      }
    }
  }
}

.app-breadcrumb {
  background-color: var(--app-primary-light) !important;

  &>* {
    color: var(--app-primary) !important;

    &>* {
      color: var(--app-primary) !important;

      &>* {
        color: var(--app-primary) !important;

        &>* {
          color: var(--app-primary) !important;
        }
      }
    }
  }
}

a.nav-link.sidebar-component:active,
a.nav-link.sidebar-component.active {
  background: var(--app-primary) !important;
  color: var(--app-bg) !important;
}

.sidebar-calendar {
  background-color: var(--app-gray) !important;
  border: none;
  margin-top: 2rem;

  .card-body {
    margin: 0 !important;
    padding: 0 !important;
    word-wrap: normal !important;
  }

  .react-calendar {
    border: none;
    font-size: 0.7rem; // compact text
    width: 100%;
    padding: 0.25rem 0.5rem !important;
    padding-bottom: 1.5rem !important;
    background-color: var(--app-gray);
    border: 2px solid var(--app-bg);

    .react-calendar__month-view__days__day {
      color: var(--app-text) !important;
    }

    .react-calendar__month-view__days__day--weekend {
      color: var(--app-danger) !important;
    }
  }

  .react-calendar__navigation {
    margin-bottom: 0.25rem;

    button {
      min-width: 24px;
      font-size: 0.75rem;
      padding: 2px;
    }
  }

  .react-calendar__month-view__weekdays {
    font-size: 0.65rem;
    text-transform: uppercase;
  }

  .react-calendar__tile {
    padding: 0.3em 0.2em;
    border-radius: 0.375rem;
  }

  .react-calendar__tile--active {
    background: var(--cui-primary);
    color: var(--app-bg);
  }

  .react-calendar__tile--now {
    background: rgba(13, 110, 253, 0.15);
  }

  .react-calendar__navigation__label__labelText {
    text-transform: initial;
  }
}

.react-calendar__month-view__weekdays__weekday {
  color: var(--app-text) !important;
}

.sidebar-analog-clock {
  background: transparent;
  border: none;

  .analog-clock {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: var(--app-gray);
    border: 2px solid var(--app-text);
    position: relative;
  }

  .hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 50%;
    background: var(--app-text);
    border-radius: 2px;
  }

  .hour {
    width: 25%;
    height: 4px;
  }

  .minute {
    width: 35%;
    height: 3px;
  }

  .second {
    width: 40%;
    height: 2px;
    background: var(--app-primary);
    /* accent */
  }

  .center-dot {
    position: absolute;
    width: 6px;
    height: 6px;
    background: var(--app-text);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}