@use "@coreui/coreui/scss/coreui" as * with ($enable-deprecation-messages: false,
);
@use "@coreui/chartjs/scss/coreui-chartjs";
@use "vendors/simplebar";
@use "base/variables" as v;

body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.header>.container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header>.container-fluid+.container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}

.app-button {
  background-color: v.$primary !important;
  border-color: v.$primary !important;
  color: v.$white !important;

  &:hover {
    background-color: v.$primaryDark !important;
    border-color: v.$primaryDark !important;
    color: v.$white !important;
  }
}

.app-container {
  background-color: v.$white !important;
}

.app-header {
  background-color: v.$primary !important;

  &>* {
    color: v.$white !important;

    &>* {
      color: v.$white !important;

      &>* {
        color: v.$white !important;
      }
    }
  }
}

.app-sidebar {
  background-color: v.$gray !important;
}


.sidebar-nav .nav-link:hover .sidebar-icon,
.sidebar-nav .nav-link.active .sidebar-icon {
  filter: brightness(0) invert(1);
}

.sidebar {

  .sidebar-icon {
    filter: invert(63%) sepia(61%) saturate(2875%) hue-rotate(314deg) brightness(102%) contrast(101%);
  }

  .sidebar-component,
  .nav-link {
    color: v.$primary !important;

    svg {
      color: v.$primary !important;
    }

    &:hover {
      background-color: v.$primary !important;
      color: v.$white !important;

      svg {
        color: v.$white !important;
      }

      &:after {
        background-color: v.$white !important;
      }
    }
  }

  .sidebar-component {
    .nav-icon {
      opacity: 0;
    }

    &:hover {
      .nav-icon {
        opacity: 0;
      }
    }
  }

  .nav-group-toggle {
    font-weight: bold !important;

    &:after {
      background-color: v.$primary !important;
    }
  }
}

.app-breadcrumb {
  background-color: v.$primaryLight !important;

  &>* {
    color: v.$primary !important;

    &>* {
      color: v.$primary !important;

      &>* {
        color: v.$primary !important;

        &>* {
          color: v.$primary !important;
        }
      }
    }
  }
}

.sidebar-calendar {
  background-color: v.$gray !important;
  border: none;
  margin-top: 2rem;

  .card-body {
    margin: 0 !important;
    padding: 0 !important;
    word-wrap: normal !important;
  }

  .react-calendar {
    border: none;
    font-size: 0.7rem; // compact text
    width: 100%;
    padding: 0.25rem 0.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .react-calendar__navigation {
    margin-bottom: 0.25rem;

    button {
      min-width: 24px;
      font-size: 0.75rem;
      padding: 2px;
    }
  }

  .react-calendar__month-view__weekdays {
    font-size: 0.65rem;
    text-transform: uppercase;
  }

  .react-calendar__tile {
    padding: 0.3em 0.2em;
    border-radius: 0.375rem;
  }

  .react-calendar__tile--active {
    background: var(--cui-primary);
    color: #fff;
  }

  .react-calendar__tile--now {
    background: rgba(13, 110, 253, 0.15);
  }

  .react-calendar__navigation__label__labelText {
    text-transform: initial;
  }
}

.react-calendar__month-view__weekdays__weekday {
  color: v.$black !important;
}

.sidebar-analog-clock {
  background: transparent;
  border: none;

  .analog-clock {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: v.$white;
    border: 2px solid v.$white;
    position: relative;
  }

  .hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 50%;
    background: v.$black;
    border-radius: 2px;
  }

  .hour {
    width: 25%;
    height: 4px;
  }

  .minute {
    width: 35%;
    height: 3px;
  }

  .second {
    width: 40%;
    height: 2px;
    background: #eb6c9c; /* accent */
  }

  .center-dot {
    position: absolute;
    width: 6px;
    height: 6px;
    background: v.$black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}